<!DOCTYPE html>
<html>
<head>
  <title>Grechelle3</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="headerimg">
	<div class="headerlink1">
		<%= link_to "home", root_path %>
	</div>
	<div class="headerlink2">
		products
	</div>
	<div class="headerlink3">
		my cart
	</div>
	<div class="headerlink4">
		verify
	</div>
</div>
<%= yield %>

</body>
</html>
